@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }
</style>
@using Google.Apis.Gmail.v1.Data;
@using System.Text
@using Newtonsoft.Json.Linq

@model List<Message>

<table id="customers">
    <tbody>
      
    @{
        byte[] data = GmailWittMVC.Utilities.EmailConverterHelper.Base64UrlDecode(Model.FirstOrDefault().Raw);
        string decodedString = Encoding.UTF8.GetString(data);
         
        <div class="row">
             @Html.Raw(GmailWittMVC.Utilities.EmailConverterHelper.GetUntilOrEmpty(decodedString));
        </div>
       
    }
    
    
    @* @foreach (var item in Model) *@
    @* { *@
    @*     string Color = item.LabelIds.Contains("UNREAD") ? "#5dcda347" : ""; *@
    @*     <tr style="background-color:@Color"> *@
    @* *@
    @* *@
    @*         <td> @item.Snippet </td> *@
    @* *@
    @*         <td> @string.Join("-", item.LabelIds) </td> *@
    @* *@
    @*     </tr> *@
    @* } *@
    </tbody>
   
</table>